
 <form>
    <label>First Name: {{registeredInfoController.info.firstName}}</label><br />
    <label>Last Name: {{registeredInfoController.info.lastName}}</label><br />
    <label>E-mail: {{registeredInfoController.info.email}}</label><br />
    <label>Phone Number: {{registeredInfoController.info.phone}}</label><br />
    <label>Favorite Dish: {{registeredInfoController.info.dish}}</label><br /><br />

<div>
	<div ng-if="registeredInfoController.valid == true">
	      <div>
	 		<div>{{registeredInfoController.info.dish}}</div>
	        <img class="img-responsive" width="250" height="150" ng-src="{{registeredInfoController.basePath}}/images/{{registeredInfoController.info.dish}}.jpg" alt="{{registeredInfoController.info.dish}}">
	      </div>
	</div>
	<div ng-if="registeredInfoController.valid == false && registeredInfoController.info.firstName">
	No such menu number exists</div>
</div>
<!-- 	<div ng-if="registeredInfoController.valid == true">
		 <div class="menu-item-tile col-md-6">
		  <div class="row">
		    <div class="col-sm-5">
		      <div class="menu-item-photo">
		 		<div>{{registeredInfoController.info.dish}}</div>
		        <img class="img-responsive" width="250" height="150" ng-src="{{registeredInfoController.basePath}}/images/{{registeredInfoController.info.dish}}.jpg" alt="{{registeredInfoController.info.dish}}">
		      </div>
		    </div>
		  </div>
		  <hr class="visible-xs">
		</div>
	</div>
	<div ng-if="registeredInfoController.valid == false && registeredInfoController.info.firstName">
	No such menu number exists</div> -->


 </form>


